{% extends 'index.html' %}


{% block title %}products{% endblock title %}
{% block activeProduct %}active{% endblock activeProduct %}
{% block body %}
   
<h1 class="text-center">All Products</h1>
<div class="container">
   {% for product in  allproducts%}
   <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{ 0.ProductImg }}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    {% endfor %}
</div>


   <div class="container">
      <div class="container" style="justify-content: center;">

         <div class="row col-md-10">
           {% for product in allproducts %}
       
               <div class="col-md-3 my-3">
                   <div class="image-container">
                      <a><img src="/media/{{product.productImg}}" class="rounded" alt="{{product.Name}}" id="productImg" style="height: 200px; width: 200px;"></a>
                   </div>
                   <span>{{ product.Name }}</span>
               </div>
           {% endfor %}
       </div>
       
       </div>

       <div class="position-absolute top-50 end-0 translate-middle-y mx-3 my-4">
         <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
       </div>
   </div>

{% endblock body %}

